[Unit]
Description=Paest API Server
Author=Hashbang Team - team@hashbang.sh
After=redis.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull hashbang/paest-server
ExecStart=/usr/bin/docker run \
  --name paest-api \
  --link redis:redis \
  -d hashbang/paest-server
ExecStop=/usr/bin/docker stop paest-api

[Install]
WantedBy=mulit-user.target
